.link-underlined {
    text-decoration-line: underline;
}

.old-price {
    text-decoration: line-through;
}

.final-price {
    border-width: medium !important;
    border-radius: 15px;
    border-style: dashed !important;
    padding: 5px;
}

.btn-checkout:hover {
    background-color: #dc3545;
    border-color: #dc3545;
}

.product-photo {
    width: 200px;
}

/* Always display spinner up and down arrows*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type=number] {
    min-width: 50px;
}

.control-icon:hover {
    background-color: #d9d9d9;
    color: #d9d9d9;
}

.page-header {
    margin-top: 15vh;
}
