body {
    overflow-x: hidden;
}

.filters-area {
    background-color: #eafdff;
    box-shadow: 0 0 6px 0 black;
    position: fixed;
    margin-top: 10vh;
    z-index: 4;
    font-size: 0.95rem;
}

@media(max-width: 600px) {
    .filters-area {
        position: relative;
    }
}

.products-area {
    margin-left: 25%;
}

.page-height {
    height: 100%;
}

.range-edge-prices {
    margin-bottom: -15px;
}

.close-filters-btn {
    width: 10px;
    height: 20px;
}

.control-icon:hover {
    background-color: #d9d9d9;
    color: #d9d9d9;
}

.product-img {
    width: 250px;
}

.product:hover {
    background-color: #edf2ff;
}

.pagination-btn:hover {
    background-color: #b6ceff;
}
