.category-img {
    width: 250px;
}

a:hover {
    text-decoration: none;
}

.category-img:hover {
    border-style: solid;
    border-width: thin;
}

.control-icon:hover {
    background-color: #d9d9d9;
    color: #d9d9d9;
}

.page-header {
    margin-top: 15vh;
}
