body {
    overflow-x: hidden;
}

.page-header {
    margin-top: 15vh;
}

.bg-yellow {
    background-color: yellow;
}

.shop-block {
    border-style: solid;
    border-width: thin;
    border-color: dodgerblue;
}

.shop-block:hover {
    border-color: #b21f2d;
}

.store-photo {
    min-width: 300px;
}

#map {
    width: 750px;
    height: 500px;
}
