.footer-wrapper {
    box-shadow: 0 0 4px 0 black;
}

.brand-name {
    font-family: Castellar, serif;
    font-size: x-large;
    font-weight: bolder;
}

.brand-description {
    font-family: Mistral, serif;
    font-size: x-large;
    font-weight: bold;
}

.social-link {
    font-size: x-large;
}

.social-link:hover {
    color: #e3c26d !important;
}
