body {
    overflow-x: hidden;
}

.welcome-message {
    font-family: "Segoe Script", serif;
    font-size: large;
    text-align: center;
}

.advantages-header {
    font-size: x-large;
}

.advantage {
    text-align: center;
    font-weight: bold;
}

.advantage--highlighted {
    background-color: #ace2ff;
}

.link, .link:hover {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.link {
    text-decoration-color: black;
}

.link > div {
    font-size: large;
    font-weight: bold;
}

.link:hover {
    color: white;
}

.question {
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
}

.slider-img {
    width: 50% !important;
    height: 50% !important;
}

.auto-slider {
    margin-top: 20vh;
}

.auto-slider > div {
    justify-content: center;
    padding-left: 10vh;
    padding-right: 10vh;
}
