body {
    overflow-y: hidden;
}

.full-screen-height {
    height: 100vh;
}

.login-container {
    width: 40%;
}

@media (max-width:900px) {
    .login-container {
        width: 90%;
    }
}

.form-group-margin {
    margin-left: 20%;
}

.checkbox-label {
    margin-bottom: 0;
}
