.brand {
    width: 30px;
}

.navbar-area {
    box-shadow: 0 0 4px 0 black;
    background: linear-gradient(white, #a4d2ff);
    z-index: 5;
}

.navbar-brand {
    font-family: Castellar, serif;
    font-size: x-large;
}

.dropdown {
    position: relative;
}

/* Links inside the dropdown*/
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: -5px;
    background-color: #d7ebff !important;
    min-width: 160px;
}

/* Links inside the dropdown on hover */
.dropdown-content a {
    padding: 12px 12px;
    text-decoration: none;
}

a.nav-link {
    color: black !important;
}

/* Links background color on hover */
a.dropdown-item:hover, a.nav-link:hover {
    background-color: #aac2ff;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drop-btn {
    background-color: #d8f0ff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Make navbar fixed only on large screens*/
@media (min-width: 600px) {
    div.navbar {
        position: fixed !important;
        top: 0;
        right: 0;
        left: 0;
    }
}
