.small-text {
    font-size: x-small;
}

/* Always display spinner up and down arrows*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.hidden {
    display: none !important;
}
