.page-header {
    margin-top: 15vh;
}

.export-icon {
    width: 25px;
}

#export-form {
    visibility: hidden;
}

.order-id {
    text-decoration-line: underline;
}

.pagination-btn:hover {
    background-color: #b6ceff;
}
