html, body {
    height: 100%;
}

body {
    overflow-y: hidden;
}

.content-container {
    width: 40%;
    font-size: 0.85rem;
}

@media (max-width:900px) {
    .content-container {
        width: 90%;
    }
}

.form-group-margin {
    margin-left: 20%;
}

.error-message {
    font-size: small;
    color: #b21f2d;
    font-weight: bold;
}

.hidden {
    display: none;
}

.checkbox-label {
    margin-bottom: 0;
}
