.page-header {
    margin-top: 15vh;
}

.product-name {
    min-width: 35%;
}

.contact-us-link {
    text-decoration: underline;
}

.control-icon:hover {
    background-color: #d9d9d9;
    color: #d9d9d9;
}

.product-img {
    width: 250px;
}

.product:hover {
    background-color: #edf2ff;
}
